
.orion-materialize-admin .materialize-content-container {
    padding: 1rem 1rem 1rem 5rem;    
}

.orion-materialize-admin .materialize-buttons-container {
    padding: 1rem 1rem 1rem 5rem;        
}

.orion-materialize-admin .header-container h4 {
    padding-left: 4rem;
}